* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

.parent-grid {
  margin: auto;
  border: 3px black solid;
  background-color: #ccc;
  font-family: sans-serif;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90vmin;
  height: 90vmin;
}

.child-grid {
  border: 1px #777 solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#app {
  display: grid;
  place-items: center;
}
