* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

.parent-grid {
  margin: auto;
  border: 3px black solid;
  background-color: #ccc;
  font-family: sans-serif;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90vmin;
  height: 90vmin;
}

.child-grid {
  border: 1px #777 solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  /* width: 100%; */
}

.title {
  display: grid;
  place-items: center;
}

.cell-grid {
  align-content: center;
  text-align: center;
  border: 1px #777 solid;
}

.cell-grid-error {
  background-color: #980202;
  color: white;
}

#resetButton {
  margin-top: 1rem;
  padding: 0.5rem;
  font-weight: bold;
}

#resetButton:hover {
  background-color: orange;
  border-radius: 0.3rem;
}

.cell-input {
  all: unset;
  display: grid;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  align-content: center;
}
